.SinglesContainer {
  padding: 1em 1.5em;
}

.highlights-title {
  text-align: left;
}

.sc__container {
  margin: 2em auto 6em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
