@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==================================== */
/* Custom properties and general styles */
/* ==================================== */

:root {
  --ff-main: 'Raleway', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;
  --fs-100: 6.25em;
  --fs-116: 7.25em;
  --fs-132: 8.25em;
  --fs-144: 9rem;

  /* Text */
  --clr-grey-1-text: hsla(240, 9%, 91%, 1);
  --clr-grey-2-text: hsla(243, 10%, 66%, 1);
  --clr-grey-3-text: hsla(245, 11%, 57%, 1);

  --clr-white-text: hsla(0, 0%, 95%, 1);

  --clr-yellow: hsla(53, 100%, 70%, 1);

  /* Backgrounds */
  --clr-greyish-blue-bg: hsla(234, 32%, 17%, 1);
  --clr-deep-dark-blue-bg: hsla(248, 35%, 8%, 1);
  --clr-asphalt-bg: hsla(230, 5%, 45%, 1);
}

body {
  background: var(--clr-deep-dark-blue-bg);
  color: var(--clr-grey-3-text);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: 1.2;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ================== */
/* Typography */
/* ================== */

.main-content__temp {
  font-size: var(--fs-132);
  font-weight: var(--fw-medium);
  color: var(--clr-grey-1-text);
}

.main-content__unit {
  font-size: var(--fs-48);
  color: var(--clr-grey-2-text);
}

.main-content__name {
  font-size: var(--fs-36);
  font-weight: var(--fw-semi-bold);
}

.main-content__location__text {
  font-size: var(--fs-18);
  font-weight: var(--fw-semi-bold);
}

.Daily__date,
.Daily__max {
  color: var(--clr-grey-1-text);
}

.Daily__min {
  color: var(--clr-grey-2-text);
}

.highlights-title {
  color: var(--clr-grey-1-text);
  font-size: var(--fs-24);
  font-weight: var(--fw-bold);
}

.sdi__text {
  color: var(--clr-grey-1-text);
}

.sdi__units__fm {
  color: var(--clr-grey-1-text);
  font-size: var(--fs-64);
  font-weight: var(--fw-bold);
}

.sdi__units__additional {
  color: var(--clr-grey-1-text);
  font-size: var(--fs-32);
}

.signature__text {
  color: var(--clr-grey-2-text);
  font-size: var(--fs-14);
}

/* ================== */
/* Links */
/* ================== */
.signature__link:link {
  color: var(--clr-grey-2-text);
  font-weight: var(--fw-bold);
}

.signature__link:hover,
.signature__link:focus {
  opacity: 0.5;
}

.signature__link:visited {
  color: var(--clr-yellow);
}

/* ================== */
/* Buttons & inputs */
/* ================== */
.btn {
  cursor: pointer;
  color: var(--clr-grey-1-text);
  font-size: var(--fs-10);
  font-family: inherit;
  font-weight: var(--fw-medium);
}

.btn--search {
  background: var(--clr-asphalt-bg);
  padding: 0.575em 0.875em;
}

/* ================== */
/* Utility styles */
/* ================== */
.container {
  padding: 1.125em 0.75em;
}
